.mainBody{
    position: relative;
}

img{
    width: 100%;
    height: 500px;
    opacity: 0.8;
}



.quote{
    display: block;
    position: absolute;
    background-color: hsla(56, 76%, 46%, 0.53);
    color : #172BF3;
    padding : 10px 25px 10px 25px;
    border-radius: 5px;
    left: 32%;
    bottom: 83%;
}

.image-detail {
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
    justify-content: center;
    align-items: center;
}

.image-detail h3{
    margin-top: 4%;
    text-align: center;
}

.image-detail h1{
    text-align: center;
}

.block-image {
    width: 35%;
    border-radius: 5px;
    border-style: solid;
    border-color: #00109B;
    padding: 15px;
    margin-left: 5%;
}

.some-detail {
    margin-right: 10%;
    margin-left: 10%;
    width: 30%;
    height: 50%;
}

.bottombar{
    background: linear-gradient(130deg, rgba(255,255,255,1) 0%, rgba(88,117,223,1) 48%, rgba(0,212,255,1) 96%);
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottombar h3{
    text-align: center;
    color: #ffffff;
}